[Unit]
Description=Lotus Daemon
After=network.target

[Service]
User={{ lotus_user }}
Group={{ lotus_user }}
ExecStart=/usr/local/bin/lotus daemon
Environment=LOTUS_PATH="{{ lotus_daemon_path }}"
Environment=GOLOG_FILE="{{ lotus_daemon_golog_file }}"
Environment=GOLOG_LOG_FMT="{{ lotus_golog_log_fmt }}"
Environment=FIL_PROOFS_PARAMETER_CACHE="{{ lotus_proof_params_path }}"
Environment=IPFS_GATEWAY="{{ lotus_ipfs_gateway }}"
{% for item in lotus_daemon_env | dict2items -%}
Environment={{ item.key }}="{{ item.value }}"
{% endfor -%}

{% for item in lotus_daemon_systemd_extras | dict2items -%}
{{ item.key }}={{ item.value }}
{% endfor -%}

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
