[Unit]
Description=Lotus Miner Init
After=network.target
ConditionPathExists=!{{ lotus_miner_path }}/datastore

[Service]
User={{ lotus_user }}
Group={{ lotus_user }}
ExecStart=/usr/local/bin/lotus-miner init --actor="{{ lotus_miner_actor_address }}" --owner="{{ lotus_miner_owner_address }}" --worker="{{ lotus_miner_worker_address }}"
Environment=LOTUS_PATH="{{ lotus_path }}"
Environment=LOTUS_MINER_PATH="{{ lotus_miner_path }}"
Environment=GOLOG_FILE="{{ lotus_miner_golog_file }}"
Environment=GOLOG_LOG_FMT="{{ lotus_golog_log_fmt }}"
{% for item in lotus_miner_env | dict2items -%}
Environment={{ item.key }}="{{ item.value }}"
{% endfor %}

# Add restart never
[Install]
WantedBy=multi-user.target
